<template>
  <div class="vb-custom-autocomplete">
    <div :class="sizeClasses">
      <div
        v-if="$slots.prepend || prependText"
        ref="prependDiv"
        class="input-group-prepend"
      >
        <slot name="prepend">
          <span class="input-group-text">{{ prependText }}</span>
        </slot>
      </div>
      <input
        ref="input"
        type="text"
        :class="{
          'form-control': true,
          [inputClass]: true,
          'is-valid': state,
          'is-invalid': state === false,
        }"
        :placeholder="placeholder"
        :aria-label="placeholder"
        :state="state"
        :value="inputVal"
        autocomplete="off"
        v-bind="$attrs"
        @focus="onFocus"
        @blur="onInputBlur"
        @keydown.esc="$refs.input.blur()"
        @keypress.enter.prevent="selectHightlightedItem"
        @keydown.up="onInputKeyUp"
        @keydown.down="onInputKeyDown"
        @input="onInputChange($event.target.value)"
        @keydown.delete="$emit('deleteKeyPress', $event)"
      />
      <div v-if="$slots.append || appendText" class="input-group-append">
        <slot name="append">
          <span class="input-group-text">{{ appendText }}</span>
        </slot>
      </div>
    </div>
    <div
      v-show="showSuggestions"
      ref="list"
      class="vb-custom-autocomplete-suggestions"
    >
      <ul class="list-group shadow">
        <template v-if="matchtedSuggestions.length > 0">
          <v-b-autocomplete-list-item
            v-for="(item, id) in matchtedSuggestions"
            :key="id"
            :suggestion="item"
            :text-variant="textVariant"
            :bg-variant="bgVariant"
            :is-highlighted="id === highlightIndex"
            class="vb-custom-autocomplete-suggestion"
            @selectItem="selectItem"
            @keypress.enter="selectItem(item, $event)"
          >
            <template
              v-for="(slot, slotName) in $scopedSlots"
              :slot="slotName"
              slot-scope="{ data }"
            >
              <slot :data="data" :name="slotName"></slot>
            </template>
          </v-b-autocomplete-list-item>
        </template>
        <li
          v-else-if="query.length > 0"
          class="vb-custom-autocomplete-list-item list-group-item no-suggestion"
        >
          <span class="text-muted">
            <slot name="no-suggestion" :data="query">No record found</slot>
          </span>
        </li>
      </ul>
    </div>
  </div>
</template>

<script>
import debounce from 'lodash.debounce'
import VBAutocompleteListItem from './VueBootstrapAutocompleteListItem'
import ResizeObserver from 'resize-observer-polyfill'
export default {
  name: 'VueBootstrapAutocomplete',
  components: {
    VBAutocompleteListItem
  },
  props: {
    value: {
      type: [String, Number, Array, Object],
      default: ''
    },
    defaultText: {
      type: String,
      default: null
    },
    wait: {
      type: Number,
      default: 0
    },
    size: {
      type: String,
      default: null,
      validator: (size) => ['lg', 'sm'].indexOf(size) > -1
    },
    prependText: {
      type: String,
      default: null
    },
    appendText: {
      type: String,
      default: null
    },
    placeholder: {
      type: String,
      default: null
    },
    inputClass: {
      type: String,
      default: ''
    },
    items: {
      type: [Array, Function],
      default: null
    },
    minLength: {
      type: Number,
      default: 1
    },
    maxItems: {
      type: Number,
      default: 10
    },
    bgVariant: {
      type: String,
      default: null
    },
    textVariant: {
      type: String,
      default: 'primary'
    },
    requireMatch: {
      type: Boolean,
      default: false
    },
    state: {
      type: Boolean,
      default: null
    }
  },
  data: function() {
    return {
      query: '',
      inputVal: '',
      suggestions: [],
      isFocused: false,
      highlightIndex: -1,
      selectedItem: null
    }
  },
  computed: {
    sizeClasses() {
      return this.size ? `input-group input-group-${this.size}` : 'input-group'
    },
    onTypingStop() {
      return debounce(function(query) {
        this.$emit('query', query)
      }, this.wait)
    },
    showSuggestions() {
      if (!this.isFocused) {
        return false
      }
      return (
        this.requireMatch ||
        (this.matchtedSuggestions && this.matchtedSuggestions.length)
      )
    },
    matchtedSuggestions() {
      let matchedSuggestions = []
      if (!this.query || this.query.length < this.minLength) {
        return matchedSuggestions
      }
      if (Array.isArray(this.items)) {
        const re = new RegExp(this.escapedQuery, 'gi')
        matchedSuggestions = this.suggestions
          .filter((i) => i.text.match(re) !== null)
          .sort((a, b) => {
            const aIndex = a.text.indexOf(a.text.match(re)[0])
            const bIndex = b.text.indexOf(b.text.match(re)[0])
            if (aIndex < bIndex) {
              return -1
            }
            if (aIndex > bIndex) {
              return 1
            }
            return 0
          })
      } else if (typeof this.items === 'function') {
        matchedSuggestions = this.suggestions
      }
      return matchedSuggestions.slice(0, this.maxItems).map((suggestion) => {
        suggestion.highlightedText = this.getHighlightedText(suggestion.text)
        return suggestion
      })
    },
    escapedQuery() {
      return this.escapeRegExp(this.sanitize(this.query))
    },
    focusedItem() {
      let item = null
      if (this.$refs.list) {
        item = this.$refs.list.children[0].children[this.highlightIndex]
      }
      return item
    },
    isValueExists() {
      return this.value !== undefined && this.value !== null
    }
  },
  watch: {
    value: {
      handler(newValue, oldValue) {
        if (oldValue && !newValue && !this.isInputFocused()) {
          this.inputVal = ''
        } else if (this.selectedItem) {
          if (newValue !== this.selectedItem.value) {
            this.selectedItem = null
            if (this.defaultText) {
              this.inputVal = this.defaultText
            }
          } else {
            this.inputVal = this.selectedItem.text
          }
        }
      }
    },
    defaultText: {
      handler(newValue) {
        if (newValue !== null && this.isValueExists && !this.selectedItem) {
          this.inputVal = newValue
        }
      }
    }
  },
  mounted() {
    if (this.defaultText !== null) {
      this.inputVal = this.defaultText
      this.query = this.defaultText
    }
    this.$on('query', (query) => {
      if (query === null) {
        query = ''
      }
      this.query = query
      this.inputVal = query
      this.fetchItems()
    })
    this.resizeObserver = new ResizeObserver(() => {
      this.resizeList(this.$refs.input)
    })
    this.resizeObserver.observe(this.$refs.input)
    this.resizeObserver.observe(this.$refs.list)
  },
  beforeDestroy() {
    this.resizeObserver.disconnect()
  },
  methods: {
    onFocus() {
      this.isFocused = true
      this.$emit('query', this.inputVal)
    },
    onInputBlur(event) {
      const target = event.relatedTarget
      if (target) {
        if (
          target.classList.contains('vb-custom-autocomplete-list-item') ||
          target.classList.contains('vb-custom-autocomplete-list-item-link')
        ) {
          return
        }
      }
      this.$emit('blur', event)
      this.isFocused = false
    },
    onInputChange(newValue) {
      if (this.requireMatch) {
        this.unselectItem()
      } else {
        this.$emit('input', newValue)
      }
      this.inputVal = newValue
      this.onTypingStop(newValue)
    },
    onInputKeyUp() {
      this.highlightIndex--
      if (this.highlightIndex < 0) {
        this.highlightIndex = this.matchtedSuggestions.length - 1
      }
      this.scrollToVisibleItem()
    },
    onInputKeyDown() {
      this.highlightIndex++
      if (this.highlightIndex > this.matchtedSuggestions.length - 1) {
        this.highlightIndex = 0
      }
      this.scrollToVisibleItem()
    },
    transformSuggestions(items) {
      if (Array.isArray(items)) {
        let suggestions = []
        items.forEach((item) => {
          if (
            item &&
            typeof item === 'object' &&
            typeof item.text === 'string'
          ) {
            suggestions.push({
              text: item.text,
              value: typeof item.value !== 'undefined' ? item.value : item.text
            })
          } else if (
            ['string', 'number', 'boolean'].indexOf(typeof item) >= 0
          ) {
            suggestions.push({
              text: item + '',
              value: item
            })
          }
        })
        return suggestions
      }
      return []
    },
    selectHightlightedItem(event) {
      let item = this.matchtedSuggestions[this.highlightIndex]
      if (item) {
        this.selectItem(item, event)
      }
    },
    selectItem(item, event) {
      this.selectedItem = item
      this.$emit('input', item.value)
      this.$emit('change', { ...item })
      this.inputVal = item.text
      this.$refs.input.blur()
      this.isFocused = false
      if (event) {
        event.preventDefault()
      }
    },
    unselectItem() {
      this.selectedItem = null
      if (this.value !== null) {
        this.$emit('input', null)
        this.$emit('change', null)
      }
    },
    clear() {
      this.selectedItem = null
      this.$emit('input', null)
      this.$emit('change', null)
      this.inputVal = null
    },
    focusInput() {
      this.$refs.input.focus()
    },
    async fetchItems() {
      if (!this.items) {
        this.suggestions = []
      } else if (Array.isArray(this.items)) {
        this.suggestions = this.transformSuggestions(this.items)
      } else if (typeof this.items === 'function') {
        let items = await Promise.resolve(this.items(this.query))
        this.suggestions = this.transformSuggestions(items)
      }
    },
    sanitize(text) {
      return text.replace(/</g, '&lt;').replace(/>/g, '&gt;')
    },
    escapeRegExp(str) {
      return str.replace(/[.*+?^${}()|[\]\\]/g, '\\$&')
    },
    getHighlightedText(text) {
      text = this.sanitize(text)
      if (this.query.length === 0) {
        return text
      }
      const re = new RegExp(this.escapedQuery, 'gi')
      return text.replace(re, `<strong>$&</strong>`)
    },
    scrollToVisibleItem() {
      if (this.focusedItem) {
        let offsetTop = this.focusedItem.offsetTop
        this.$refs.list.scrollIntoViewIfNeeded()
        if (this.$refs.list.clientHeight > offsetTop + 40) {
          if (this.$refs.list.scrollTop > offsetTop) {
            this.$refs.list.scrollTo(0, offsetTop)
          }
        } else {
          this.$refs.list.scrollTo(0, offsetTop)
        }
      }
    },
    resizeList(el) {
      const rect = el.getBoundingClientRect()
      const listStyle = this.$refs.list.style
      // Set the width of the list on resize
      listStyle.width = rect.width + 'px'
      // Set the margin when the prepend prop or slot is populated
      // (setting the "left" CSS property doesn't work)
      if (this.$refs.prependDiv) {
        const prependRect = this.$refs.prependDiv.getBoundingClientRect()
        listStyle.marginLeft = prependRect.width + 'px'
      }
    },
    isInputFocused() {
      return this.$refs.input === document.activeElement
    }
  }
}
</script>
<style>
.vb-custom-autocomplete .vb-custom-autocomplete-suggestions {
  padding-top: 5px;
  position: absolute;
  max-height: 350px;
  overflow-y: auto;
  z-index: 999;
}
</style>
