<template>
  <a
    href="#"
    :class="suggestionClasses"
    @mouseover="isHovered = true"
    @mouseout="isHovered = false"
    @click="selectItem"
  >
    <span :class="textVariant && isActive ? 'text-' + textVariant : ''">
      <slot name="suggestion" :data="suggestion">
        <span v-html="suggestion.highlightedText"></span>
      </slot>
    </span>
  </a>
</template>

<script>
export default {
  name: 'VueBootstrapAutocompleteListItem',
  props: {
    bgVariant: {
      type: String,
      default: null
    },
    textVariant: {
      type: String,
      default: null
    },
    isHighlighted: {
      type: Boolean,
      default: false
    },
    suggestion: {
      type: Object,
      default: function() {
        return {
          text: 'N/A'
        }
      }
    }
  },
  data: function() {
    return {
      isHovered: false
    }
  },
  computed: {
    isActive() {
      return this.isHighlighted || this.isHovered
    },
    suggestionClasses() {
      let classes = ''
      if (this.isActive) {
        classes += this.isActive ? 'active' : ''
        if (this.isHighlighted) {
          classes += ' focus'
        }
        classes += this.bgVariant ? ` bg-${this.bgVariant}` : ''
      }
      return `vb-custom-autocomplete-list-item vb-custom-autocomplete-list-item-link list-group-item list-group-item-action ${classes}`
    }
  },
  methods: {
    selectItem($event) {
      this.$emit('selectItem', this.suggestion, $event)
    }
  }
}
</script>

<style lang="scss" scoped>
a.vb-custom-autocomplete-list-item-link {
  color: unset;
  text-decoration: none;
  background-color: #ffffff;
  &:active,
  &:hover,
  &:focus {
    background-color: #f8f9fa;
  }
}
</style>
